html,body, h1, h2, h3, h4, h5, h6, ul,li,ol,div,p {
  padding: 0;
  margin: 0;
}
body{
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "IBM Plex Serif";
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.dis_flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dis_flex_between{
  display: flex;
  justify-content: space-between;
}
.dis_flex_around{
  display: flex;
  justify-content: space-around;
}
.dis_flex_evenly{
  display: flex;
  justify-content: space-evenly;
}
.dis_flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 高度坍塌 */
.high_collapse::before{
  content: '';
  display: table;
}.svg_img{
  vertical-align: middle;
}
.img_100{
  width: 100%;
}
